@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Clash Display";
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
		src: url(/fonts/ClashDisplay-Variable.ttf) format("truetype");
	}
}

@layer base {
	@font-face {
		font-family: "Manrope";
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
		src: url(/fonts/Manrope-Variable.ttf) format("truetype");
	}
}

@layer base {
	@font-face {
		font-family: "Inter";
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
		src: url(/fonts/Inter-Variable.ttf) format("truetype");
	}
}
